# Some utils

In [42]:
import time
import numpy as np
import pandas as pd
import dis

def measure(fn, *args, **kwargs):
    """
    Measures the execution time of a function `fn` with optional arguments.

    Parameters:
        fn (callable): The function to measure.
        *args: Positional arguments to pass to `fn`.
        **kwargs: Keyword arguments to pass to `fn`.

    Returns:
        result: The return value of `fn`.
        duration: Time taken to execute `fn`, in milliseconds.
    """
    start_time = time.time()
    result = fn(*args, **kwargs)
    end_time = time.time()
    duration = end_time - start_time
    return result, duration

# Exercises - mostly one line answers

1. Given a list L with numbers extract the sub-list of the members that are on even positions (consider the position as the one that is used by python).

In [88]:
L=[10,11,12,13,14,15,16,17]
[L[i] for i in range(len(L)) if i%2==0]

[10, 12, 14, 16]

In [89]:
# prof
L[::2]

[10, 12, 14, 16]

2. Consider that L is a list, write an instruction in python that shift all elements to the right moving the last to the first position.

Example: if L=[4,7,4,3,1] then after executing the instruction L should be [1,4,7,4,3]

In [1]:
L=[4,7,4,3,1]
[L[-1]]+L[:-1]

[1, 4, 7, 4, 3]

In [2]:
# prof (wrong)
L=L[-1]+L[:-1]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

3. Given a list L with distinct numbers write an instruction in python that computes the second highest member.

In [3]:
L=[1,3,2,4,5,6,3,7,2]
sorted(L)[-2]

6

4. Consider a list L with distinct numbers, write an one line instruction in python that swap the maximum with the minimum of L.

Example: if L=[3,1,5,2,8,7] so after executing the instruction L should
be [3,8,5,2,1,7].

In [19]:
L=[3,1,5,2,8,7]
print(L)
(L[L.index(max(L))], L[L.index(min(L))]) = (min(L), max(L))
L

[3, 1, 5, 2, 8, 7]

[3, 8, 5, 2, 1, 7]

5. Consider that we have two lists, L and S with the same size. Suppose also that the members of S are all of type bool. Write an instruction in python that output the sub-list of L whose corresponding members of S are True.

In [20]:
L=[10,11,12,13,14,15,16]
S=[True, False, True, False, False, False, True]
[L[i] for i in range(len(L)) if S[i]]

[10, 12, 16]

6. Write an instruction in python to create a list with the integers from 1 to 100 (including 100) and create a variable X to store it.

In [21]:
[x for x in range(1, 101)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

7. Consider that you want to creates a list with the perfect squares from 1 to 100^2
(including this last). Which instruction do you use inside the loop present bellow?

x=[]
for i in range(100):
    ?????

In [24]:
X=[]
for i in range(100):
  X.append((i+1)**2)
X

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

8. Write a one line instruction in python that create the same list mentioned in the last exercise.

a) using the function map

In [26]:
list(map(lambda x: (x+1)**2, range(100)))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

b) Using list comprehension

In [27]:
[(i+1)**2 for i in range(100)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

9. Given a list L with numbers write an instruction in python that counts the number of times the maximum value occurs in L.

In [70]:
L=list(np.random.uniform(0,1,10000))

def v1(X):
  return sum([1 for l in X if l==max(X)])

def v2(X):
  m = max(X)
  return sum([1 for l in X if l==m])

def v3(X):
  return X.count(max(X))

def v4(X):
  m = max(X)
  return X.count(m)

result, duration = measure(v4, L)
duration

#dis.dis(v3)

0.00024366378784179688

10. Given a list L with numbers write an instruction to determine if L has
a memeber which is exactly 1/5 of the sum of all members.

In [35]:
L=[1,3,1,3,5,6,3,6,5,8,7,8,14]
sum(L)/5 in L

True

11. A prime number is a integer (positive) with exactly 2 divisors. A method to find if n is prime consists to test all numbers from 1 to n and test if it divides n. Write a function (named prime) that receives a parameter n and returns True if is prime and False otherwise. (hint: remember that the operator % computes the remainder)

In [83]:
def prime(n):
  return not any([i for i in range(2,1+int(n**0.5)) if n%i==0])

In [85]:
print(prime(101))

True

12. Note that the divisors of n can be organized in pairs (d,n/d).

Example: 3 divides 12 and 12/3=4 also divides 12. To avoid counting a pair more than once we can restrict to represent (d,n/d) only in the case when d≤n/d.

Using this information implement a more efficient function to test if n is a prime.

13. Suppose that you want to sort a list L with numbers without applying the sort function. An algorithm to do so is the following create a new list X (starting empty)

While L is not empty
  
  - remove the minimum value of L
  - and insert it in the end of X

Write a function (named insertSort) that implements this algorithm

In [107]:
def insertSort(L):
  X=[]
  while len(L) > 0:
    m = min(L)
    L.remove(m)
    X.append(m)
  return X

In [108]:
L=[1,9,2,8,3,7,4,6,5]
insertSort(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

14. . Consider that L is a list with integers. Write a segment of code in python that move all odd elements to the begining of the list and all even elements to the end of the same.

Example: if L=[4,3,6,7,1,10,8] then after executing the instructions in the code segment L should be [3,7,1,4,6,10,8]

In [ ]:
L=[1,9,2,8,3,7,4,6,5]
[ x for x in L if x%2==1] + [ x for x in L if x%2==0]

[1, 9, 3, 7, 5, 2, 8, 4, 6]

## alternative

In [111]:
L=[1,9,2,8,3,7,4,6,5]
sum(list(map(lambda i: [ x for x in L if x%2==i], [1,0])),[])

[1, 9, 3, 7, 5, 2, 8, 4, 6]