## Lists

In [61]:
a = [3,5,0]
type(a)

list

In [62]:
print("a[{}]={}".format(0, a[0]))
print("a[{}]={}".format(1, a[1]))
print("a[{}]={}".format(2, a[2]))
print("a[{}]={}".format(-1, a[-1]))
print("a[{}]={}".format(-2, a[-2]))
print("a[{}]={}".format(-3, a[-3]))

a[0]=3
a[1]=5
a[2]=0
a[-1]=0
a[-2]=5
a[-3]=3

### append a value to a list

In [63]:
a.append(10)
a.append(5)
a

[3, 5, 0, 10, 5]

### remove an element from a list

In [64]:
a.remove(5) # removes first occurence of 5
a

[3, 0, 10, 5]

### change an element

In [65]:
a[1]=20
a

[3, 20, 10, 5]

## Sets

A set is an ordered collection of unique values.

$$
  s=\{4,2,1,3,1\}
$$

and

$$
  t=\{1,2,3,4\}
$$

are the same set.

In [66]:
s1 = {4,2,1,3,1}
type(s1)

set

In [84]:
s1

{1, 2, 3, 4}

In [67]:
s2 = {1,2,3,4}
s1==s2

True

### adding elements to a set

In [82]:
s2.add(-1)
s2

{-1, 1, 2, 3, 4, 5}

### adding an already existing element doesn't change the set

In [83]:
s2.add(3)
s2

{-1, 1, 2, 3, 4, 5}

## Tuples

In [68]:
t1=(1,2,4)
type(t1)

tuple

### unlike the set, repetitions and element's order matter

In [69]:
t2=(2,1,4)
t1==t2

False

### accessing a specific element

In [70]:
print("Element {} of tuple t2 is {}".format(0, t2[0]))
print("Element {} of tuple t2 is {}".format(1, t2[1]))
print("Element {} of tuple t2 is {}".format(2, t2[2]))

Element 0 of tuple t2 is 2
Element 1 of tuple t2 is 1
Element 2 of tuple t2 is 4

### assigning values to tuples

In [71]:
a=1
b=2
c=3
print("a={} b={} c={}".format(a, b, c))
(a,b,c) = (c,b,a)
print("a={} b={} c={}".format(a, b, c))

a=1 b=2 c=3
a=3 b=2 c=1

### case where changing a tuple's element is allowed

In [72]:
t3=["david", [1,2,5,4], 3.14]
t3

['david', [1, 2, 5, 4], 3.14]

In [73]:
t3[1][2]=3
t3

['david', [1, 2, 3, 4], 3.14]

## Diccionary

In [74]:
x={}
type(x)

dict

### initialize a diccionary with some elements

In [75]:
y={"a":1,"b":2}
type(y)

dict

### adding elements to an existing diccionary

In [76]:
y["f"]=10
y

{'a': 1, 'b': 2, 'f': 10}

### changing an element of a diccionary

In [77]:
y["a"] = 1000
y

{'a': 1000, 'b': 2, 'f': 10}

### teste if some key is in a diccionary

In [78]:
"a" in y

True

In [79]:
"w" in y

False

In [96]:
it = s1.__iter__()

In [101]:
it.__next__()

StopIteration: