### Indentation

In python, blocks of code are defined using indentation

In [3]:
for i in [1,3,5]:
    print("---------------------")
    for j in ["a","b","c"]:
        print("{}-{}".format(i,j))

---------------------
1-a
1-b
1-c
---------------------
3-a
3-b
3-c
---------------------
5-a
5-b
5-c

Iterating a list:

In [5]:
s=0
for i in [1,5,3]:
  s += i
print(s)

9

Iterating a set. Note the order by which the elements are considered.

In [10]:
s=0
for i in {1,5,3}:
  print(i)
  s += i
print("------")
print(s)

1
3
5
------
9

Iterating a tuple:

In [7]:
s=0
for i in (1,5,3):
  s += i
print(s)

9

Using range() to iterate over a list of indexes.

In [8]:
s=0
for i in range(1,101):
  s+=i
print(s)

5050

In [11]:
a = range(1,101)
l=[]
for i in a:
  l.append(i)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

## Iterators

All collection type objects are iterable

#### Set

In [4]:
s={6,6,6,6,6,6,10,5,4,1,7,2,3,9,8}
it=s.__iter__()

try:
  while(True):
    print(it.__next__())
except:
  print("End of set reached")

1
2
3
4
5
6
7
8
9
10
End of set reached

#### List

In [5]:
l=[6,6,6,6,6,6,10,5,4,1,7,2,3,9,8]
it=l.__iter__()

try:
  while(True):
    print(it.__next__())
except:
  print("End of set reached")

6
6
6
6
6
6
10
5
4
1
7
2
3
9
8
End of set reached

#### Tuple

In [6]:
t=(6,6,6,6,6,6,10,5,4,1,7,2,3,9,8)
it=t.__iter__()

try:
  while(True):
    print(it.__next__())
except:
  print("End of set reached")

6
6
6
6
6
6
10
5
4
1
7
2
3
9
8
End of set reached

#### Diccionary

In [ ]:
d={"A":6,"B":6,"C":6,"D":6,"E":6,"F":6,"G":10,"H":5,"I":4,"J":1,"K":7,"L":2,"M":3,"N":9,"O":8}
it=d.__iter__()

try:
  while(True):
    print(it.__next__())
except:
  print("End of set reached")

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
End of set reached

### List of squares

In [9]:
l=[]
for i in range(1,101):
  l.append(i**2)
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]